{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<p>
  Привет! Меня зовут Глеб Мудров и <s>я алкоголик</s> это мой первый в жизни учебный веб-проект.
</p>
<p>
  Еще некоторое время назад Питон был для меня просто большой змеей, а Джанго тем темнокожим парнем из
  <a href="https://www.kinopoisk.ru/film/586397/">фильма</a> Квентина Тарантино. Но благодаря бессонным ночам и сотням выпитых чашек кофе
  вы сейчас можете читать эту страницу.
  На самом деле я просто устал ждать, когда Дуров вернет стену и поэтому решил сделать свою.
  В целом, я надеюсь, что со временем количество моих проектов на Гитхабе будет расти, а их качество только улучшаться.
</p>
<p>
  Чуть ниже будет фотка моего кота Оскара. Его выкладываю не просто так, а с расчетом на то, что как только вы его
  увидите, ваше настроение улучшится, вы настроитесь на добродушный лад, зарегистрируетесь здесь и оставите мне пару
  постов на память.
</p>
<p>
  Я буду очень благодарен каждому! &#10084;
</p>
<p align="center">
  <img src="{% static 'img/cat_Oscar.jpg' %}" width="450">
</p>
{% endblock %} 