{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5>Python 3.7.9</h5>
      </li>
      <li class="list-group-item">
        <h5>Django 2.2.16</h5>
      </li>
      <li class="list-group-item">
        <h5>SQLite</h5>
      </li>
      <li class="list-group-item">
        <h5>HTML</h5>
      </li>
      <li class="list-group-item">
        <h5>CSS</h5>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <a href="https://www.python.org">
    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
        alt="python" width="50" height="50"/></a>
    <br>
    <a href="https://www.djangoproject.com/">
    <img src="https://cdn.worldvectorlogo.com/logos/django.svg"
        alt="django" width="50" height="50"/></a>
    <br>
    <a href="https://www.sqlite.org/index.html">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/97/Sqlite-square-icon.svg"
        alt="sqlite" width="50" height="50"/></a>
    <br>
    <a href="">
    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
      alt="html" width="50" height="50"/></a>
    <br>
    <a href="">
    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
        alt="css" width="50" height="50"/></a>
    
  </article>
</div>
{% endblock %} 